:ruby
  # Partial for displaying a form for creating or editing a blog
  # Parameters:
  #  blog - blog object to edit or optionally create

- action = blog.new_record? ? url(:blogs) : url(:blog, blog)
- form_for( :blog, :action => action ) do
  - unless blog.new_record?
    %input{ :name => '_method', :type => 'hidden', :value => "put" }

  %dl
    %dt= label_for( :title )
    %dd= text_control( :title, :size => 50 )

    %dt= label_for( :category_id, 'Category' )
    - collection = Category.all.unshift( Category.new ).push( Category.new( :id => -1, :title => '-- Add a new Category --' ) )
    - onclick  = "if(this.value == '0'){var title=prompt('What is the name of your new category?');"
    - onclick += "o=this.options[this.selectedIndex];o.value=title;o.innerHTML=title;}"
    %dd= select_control( :category_id, :collection => collection, :onclick => onclick, :text_method => 'title', :value_method => 'id', :selected => blog.category_id )

    %dt
      %label{ :for => 'blog_comments_expire_at' } Comment expiration
    %dd
      %select{ :name => 'blog[comments_expire_at][year]' }
        %option{ :value => 2008 } 2008
        %option{ :value => 2007 } 2007
      %select{ :name => 'blog[comments_expire_at][month]' }
        %option{ :value => 1 } Jan
        %option{ :value => 2 } Feb
      %select{ :name => 'blog[comments_expire_at][day]' }
        %option{ :value => 1 } 1
        %option{ :value => 2 } 2
        %option{ :value => 3 } 3
        %option{ :value => 4 } 4

    %dt= label_for( :body )
    %dd~ text_area_control( :body, :cols => 50, :rows => 20 )
    %dd= submit_button( 'Save blog' )