- require 'cgi'
!!! XML
%rss{ :version => '2.0', :'xmlns:opensearch' => "http://a9.com/-/spec/opensearch/1.1/", :'xmlns:atom' => "http://www.w3.org/2005/Atom" }
  %channel
    %title= "Fightinjoe: Comments"
    %link= "http://www.fightinjoe.com/blogs.rss"
    %description Fightinjoe.com: Blogs

    - for blog in @blogs
      %item
        %title= blog.title
        %link= url(:blog_by_date, blog)
        %guid= url(:blog_by_date, blog)

        %description= CGI.escapeHTML( blog.body_html.to_s )

        %pubDate= blog.published_at