%h2= @blog.title
%small= @blog.created_at
= @blog.body_html

= link( 'New',  url(:new_blog) )
= link( 'Edit', url(:edit_blog, @blog) )

= partial( 'comments/index', :comments => @blog.comments )
= partial( 'comments/form' )
