#sidebar
  .wrapper
    #pic.center
    %h3#photos
      %a{ :href => 'http://www.flickr.com/photos/fightinjoe' } Photos
    %h3#contact
      %a{ :href => '/contact' } Contact
    - unless @about
      %h3#previous
        %a{ :href => '/blogs' } Previously
    #accordion
      - if @about
        %h3#previous About
        %ul.unlist
          - for blog in @about.blogs
            = partial(:blog, :blog => blog)

      - for category in @categories
        - blogs = Blog.published( :limit => 10, :category_id => category.id )
        - next if blogs.empty?
        %h3= category.title
        %ul.unlist
          - for blog in blogs
            = partial(:blog, :blog => blog)

          = partial(:more, :category => category)

%script{ :type => "text/javascript" }
  jQuery('#accordion').accordion({ header: 'h3', autoheight: false, alwaysOpen: false });
  = "jQuery('#accordion').accordion('activate', #{ @sel_category });" unless @sel_category == 0
