:ruby
  # Partial for displaying a form for creating or editing a blog
  # Parameters:
  #  blog - blog object to edit or optionally create

- action = blog.new_record? ? url(:admin_blogs) : url(:edit_admin_blog, blog)
- form_for( :blog, :action => action ) do
  - unless blog.new_record?
    %input{ :name => '_method', :type => 'hidden', :value => "put" }

  %dl
    %dt= label_for( :title )
    %dd= text_control( :title, :size => 50, :class => 'larger' )

    %dt= label_for( :category_id, 'Category' )
    - collection = Category.all.unshift( Category.new ).push( Category.new( :title => '-- Add a new Category --' ) )
    - onclick  = "if(this.value == ''){var title=prompt('What is the name of your new category?');"
    - onclick += "o=this.options[this.selectedIndex];o.value=title;o.innerHTML=title;}"
    %dd= select_control( :category_id, :collection => collection, :onclick => onclick, :text_method => 'title', :value_method => 'id', :selected => blog.category_id )

    %dt
      %label{ :for => 'blog_publish' } Published?
    %dd
      = checkbox_control( :published, :value => 1 )
      - if @blog.published
        = "Published at #{ @blog.published }"

    %dt
      %label{ :for => 'blog_comments_expire_at' } Comment expiration
    %dd
      %select{ :name => 'blog[comments_expire_at][year]' }
        - collection = ( Date.today.year .. Date.today.year + 4 ).to_a
        = options_for_selectt( collection, :selected => blog.comments_expire_at.try(:year) )
      %select{ :name => 'blog[comments_expire_at][month]' }
        - collection = ( 1 .. 12 ).to_a
        = options_for_selectt( collection, :selected => blog.comments_expire_at.try(:month) )
      %select{ :name => 'blog[comments_expire_at][day]' }
        - collection = ( 1 .. 31 ).to_a
        = options_for_selectt( collection, :selected => blog.comments_expire_at.try(:day) )

    %dt= label_for( :body )
    %dd~ text_area_control( :body, :cols => 50, :rows => 20, :class => 'larger' )
    %dd= submit_button( 'Save blog' )