%h2 Admin

%ul.unlist.horizontal.actions.right
  %li= link('New', url(:new_admin_blog))

%table.clear{ :width => '100%' }
  %thead
    %tr
      %th Created
      %th Pub.
      %th Category
      %th Title
      %th Actions
  %tbody
    - for blog in @blogs
      %tr
        %td{ :width => '50px' }=  print_date( blog.created_at )
        %td{ :width => '50px' }=  print_date( blog.published_at ) if blog.published_at
        %td{ :width => '100px' }
          = (cat = blog.category) ? link( cat.title, url(:admin_blogs, :category_id => cat.id) ) : nil
        %td
          - if blog.published?
            = link( blog.title, url(:blog, blog), :target => '_blank' )
          - else
            = blog.title
        %td{ :width => '100px' }
          = link( 'Edit', url(:edit_admin_blog, blog) )
          - confirm = "return confirm('Are you certain you want to delete this blog?');"
          = delete_button( :blog, blog, 'Delete', {:style   => 'display:inline;'}, {:onclick => confirm, :style => 'font-size:.8em' } )
          %br
          = link( blog.count_comments == 1 ? 'Comment' : 'Comments', '#' ) unless blog.count_comments == 0